<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.vladancupric.Profesor" id="pera" init-method="onCreate"
		destroy-method="onDestroy">
		<constructor-arg name="ime" type="String"
			value="Slobodan Kostov">
		</constructor-arg>
		<constructor-arg name="jmbg" type="String" value="11234567"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Programski jezici</value>
				<value>OOP</value>
				<value>Razvoj Internet Aplikacija</value>
			</list>
		</constructor-arg>
	</bean>
	<bean id="mara" class="com.vladancupric.Profesor" destroy-method="onDestroy"
		init-method="onCreate">
		<constructor-arg name="ime" type="String"
			value="Marija Delic">
		</constructor-arg>
		<constructor-arg name="jmbg" type="String" value="12344657"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Engleski jezik</value>
				<value>Ruski jezik</value>
			</list>
		</constructor-arg>
	</bean>
	<bean id="zaposleni" class="com.vladancupric.Zaposleni">
		<constructor-arg name="univerzitet" type="String"
			value="Kragujevacki Univerzitet">
		</constructor-arg>
		<constructor-arg>
			<set>
				<ref bean="pera" />
				<ref bean="mara" />
			</set>
		</constructor-arg>
	</bean>
</beans>
